.rate-filter{
    h4{

    }
    p{
        cursor: pointer;
        transition: .3s;
        svg{
            
        }
        &:hover{
            color: gold;
        }
    }
    @media (max-width: 576px){
        font-size: 10px;
        h4{
            font-size: 18px;
        }
        P{
            margin-bottom: 5px;
        }
    }
}