.pro-comp{
    .img-box{
        overflow: hidden;
        img{
            transition: .3s;

        }
        &:hover {
            img{
                transform: scale(1.2);
            }
        }
    }
    .rating{
        svg{
            color: gold;
        }
    }
    .price{
        p{

        }
    }
    .pro-name{
        h4{
            font-weight: 400;
            font-size: 18px;
            min-height: 44px;
        }
    }
}