.pro-comp{
    .img-box{
        img{

        }
    }
    .rating{
        svg{
            color: gold;
        }
    }
    .price{
        p{

        }
    }
    .pro-name{
        h4{
            font-weight: 400;
            font-size: 18px;
            min-height: 44px;
        }
    }
}