.product-info{
    .img-box{
        display: flex;
        @media (min-width: 768px){
            min-height: 100%;
        }
    }
    .details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border: 2px solid ;
        border-right-width: 20px;
        @media (min-width: 768px){
            min-height: 100%;
        }
    }
    .add-to-cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: lightgreen;
        justify-content: center;
        .total{
            font-weight: bold;
        }
        @media (min-width: 768px){
            min-height: 100%;
        }
    }
}