.products{
    min-height: 100vh;
    .productsAndFilters{
        nav{ 
            ul{
                a{
                    text-decoration: none;
                    border-radius: 5px;
                    li{
                        span{
                            text-decoration: none;
                        }
                    }
                    &.active{
                        background-color: #18A2D3;
                        color: #FFF;
                        li{
                            span{
                                text-decoration: none;
                                background: transparent;
                                color: #FFF;
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }
    }
}